.feature {
  position: relative;
  padding-top: var(--mantine-spacing-md);

  @media (max-width: 968px) {
    display: flex;
    flex-direction: column;
  }

  /* padding-left: var(--mantine-spacing-xl); */
  /* background-color: #3b3b3b; */
}

.overlay {
  position: absolute;
  height: 100px;
  width: 160px;
  top: 0;
  left: 0;
  /* background-color: rgb(17 25 40); */
  z-index: 1;
}

.content {
  align-items: center;

  @media (max-width: 968px) {
    display: flex;
    flex-direction: column;
  }
}

.icon {
  color: var(--mantine-color-blue-filled);
}


.title {
  font-weight: 900;
  margin-bottom: var(--mantine-spacing-sm);
  margin-top: var(--mantine-spacing-xl);
  text-align: center;
  color: #e3dcdc;
  text-align: left;
  padding: 0;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(28px);
    text-align: left;
    padding-right: 0;
  }
}