@media (max-width: 769px) {
  .hrContainer {
    display: none;
  }
}

.comment {
  padding: var(--mantine-spacing-lg) var(--mantine-spacing-xl) !important;
}

.body {
  padding-left: 54px;
  padding-top: var(--mantine-spacing-sm);
  font-size: var(--mantine-font-size-sm);
}

.content {
  & > p:last-child {
    margin-bottom: 0 !important;
  }
}