.hubspot .ui-app .hubspot-disable-focus-styles a {
  display: none !important;
  opacity: 0;
  visibility: hidden;
}

.hubspot a {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

label span {
  color: #fff !important;
}

.bg-dark,
:is(.dark .dark\:b) {
  /* background-color: rgb(30 35 46); */
}
