.title {
    
    font-size: 3rem;
    margin: 5rem 0 0;
    line-height: 1.1;
    padding: 0;
    color: #FFF;
  
    @media (max-width: $mantine-breakpoint-sm) {
      font-size: 40px !important;
      line-height: 1.2;
    }
  }
  
  
  .description {
    margin-top: var(--mantine-spacing-xl);
    font-size: rem(24px);
    margin-bottom: 5rem;
    color: #fff;
    @media (max-width: $mantine-breakpoint-sm) {
      font-size: rem(18px);
    }

  }

  .accent {
    color: #4dabf7;
  }