.wrapper {
  position: relative;



  @media (max-width: 915px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.inner {
  position: relative;
  z-index: 1;
}

.dots {
  position: absolute;
  color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));

  @media (max-width: 768px) {
    display: none;
  }
}

.dotsLeft {
  left: 0;
  top: 0;
}

.title {
  font-weight: 800;
  font-size: 40px;
  letter-spacing: -1px;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  margin-bottom: var(--mantine-spacing-xs);

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(18px) !important;
    text-align: left;
  }
}

.highlight {
  color: light-dark(var(--mantine-color-blue-6), var(--mantine-color-blue-4));

}

.description {

  @media (max-width: $mantine-breakpoint-xs) {
    text-align: left;
    /* font-size: var(--mantine-font-size-lg); */
    font-size: 1rem;
  }
}

.controls {
  margin-top: var(--mantine-spacing-lg);
  display: flex;
  justify-content: center;

  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
  }
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    height: rem(42px);
    font-size: var(--mantine-font-size-md);

    &:not(:first-of-type) {
      margin-top: var(--mantine-spacing-md);
      margin-left: 0;
    }
  }
}